# ==============================================================================
# If you need the actual API key values to run this project locally, 
# please contact the author directly to obtain them.
# ==============================================================================

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL="supabase-projectt-url"
NEXT_PUBLIC_SUPABASE_ANON_KEY="supabase-anon-key"
SUPABASE_SERVICE_ROLE_KEY="supabase-service-role-key"

